# PyCity Schools Analysis

Contrary to an intial assumption, schools with higher budgets did not yield better test results. "Budget per Student" did not seem to correlate with overall school performance when analyzing "Average Math Score", "Average Reading Score", "% Passing Math, "% Passing Reading", or "% Overall Passing". In most instances, spending per student correlated negatively with these metrics, that is, as spending per student increases, we see lower scores. Schools with higher spending, around 645-675 dollars per student, actually underperformed compared to schools with smaller budgets of about $ 585 per student.

This is only part of the picture, and assuming a correlation there is likely false. For we see that as a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%), passing reading performances (96%-97%	passing vs 83%), and overall rates of passing math and reading (90%-91% passing vs 58%). This suggests a strong relationship between school size and student performance metrics. Simply put, smaller schools performed better.

Interestingly, schools scored similar average results per grade when comparing the above metrics over time. Huang High School, for example, had average Math scores from grades 9 through 12 of 77.03%, 75.91%, 76.45%, 77.23%, respectively. All other schools had similar average scores from one grade to the next. Moving from one grade to another, and perhaps switching from one teacher to another, seems to have little effect on average scores within individual schools. This suggests that broader contextual issues such as overall school size have play a larger role than individual classes. 

As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. That said, a good starting point for additional analysis would be average class size.

In [49]:
# Dependencies and Setup

import pandas as pd

# Load files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.sample(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
27074,27074,Jillian Hanson,F,12th,Rodriguez High School,64,80,11,District,3999,2547363
3467,3467,Dr. Stacy Maynard,F,12th,Figueroa High School,99,82,1,District,2949,1884411
6926,6926,Todd Trevino,M,11th,Shelton High School,91,85,2,Charter,1761,1056600
27467,27467,Eric Jenkins,M,10th,Rodriguez High School,77,74,11,District,3999,2547363
17163,17163,Bonnie Navarro,F,10th,Cabrera High School,71,93,6,Charter,1858,1081356
27820,27820,Thomas Johnston,M,12th,Rodriguez High School,86,98,11,District,3999,2547363
21157,21157,Mrs. Jennifer Rivera,F,10th,Bailey High School,72,89,7,District,4976,3124928
19662,19662,Tina Evans,F,11th,Bailey High School,84,80,7,District,4976,3124928
9163,9163,Martha Lopez,F,10th,Hernandez High School,63,78,3,District,4635,3022020
12790,12790,Frederick Jones,M,12th,Griffin High School,84,96,4,Charter,1468,917500

## District Summary

In [50]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [51]:
# Calculate the total number of students
student_count = len(school_data_complete["student_name"])

student_count

39170

In [52]:
# Calculate the total budget
#total_budget = school_data_complete["budget"].unique().sum() -- initial thought, but assumes 
#every budget is different

total_budget = school_data_complete.drop_duplicates("school_name")["budget"].sum()

total_budget

24649428

In [53]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()

average_math_score

78.98537145774827

In [54]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()

average_reading_score

81.87784018381414

In [55]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]

passing_math_percentage = passing_math_count / float(student_count) * 100

passing_math_percentage

74.9808526933878

In [56]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]

passing_reading_percentage = passing_reading_count / float(student_count) * 100

passing_reading_percentage

85.80546336482001

In [57]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100

overall_passing_rate

65.17232575950983

In [58]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing": [overall_passing_rate]})
                                                                                                                                
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,65.17

## School Summary

In [59]:
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [60]:
# Calculate the total student count
per_school_counts = school_data_complete.groupby(["school_name"]).count()["Student ID"]
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [61]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]

per_school_capita = per_school_budget / per_school_counts

per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [62]:
### Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

print(per_school_math)

per_school_reading

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [63]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete[(school_data_complete["math_score"]>= 70)]
school_passing_math['school_name'].nunique()

15

In [64]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete[(school_data_complete["reading_score"]>= 70)]
school_passing_reading['school_name'].nunique()

15

In [65]:
## Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"]
                                                 >= 70) & (school_data_complete["math_score"]>= 70)]
passing_math_and_reading['school_name'].nunique()

15

In [66]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

print(per_school_passing_math)
print(per_school_passing_reading)

overall_passing_rate

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64
school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [67]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
# Setup DataFrame
summarydata = {
    'School Type': school_types,
    'Total Students': per_school_counts,
    'Total School Budget': per_school_budget,
    'Per Student Budget': per_school_capita,
    'Average Math Score': per_school_math,
    'Average Reading Score': per_school_reading,
    '% Passing Math': per_school_passing_math,
    '% Passing Reading': per_school_passing_reading,
    '% Overall Passing': overall_passing_rate}

# create the DataFrame rename index header
per_school_summary = pd.DataFrame(summarydata)
per_school_summary.index.name = "School Name"

# format the DataFrame output
per_school_summary["School Type"] = per_school_summary["School Type"]
per_school_summary["Total Students"] = per_school_summary["Total Students"]
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}%".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}%".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.2f}%".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.2f}%".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.2f}%".format)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05%,81.03%,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10%,80.75%,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29%,80.93%,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80%,83.81%,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36%,83.73%,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68%,83.95%,93.33%,96.61%,90.33%

## Highest-Performing Schools (by % Overall Passing)

In [68]:
top_schools = per_school_summary.sort_values("% Overall Passing", ascending=False).head(5)
top_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,91.33%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,90.95%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,90.60%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [69]:
bottom_schools = per_school_summary.sort_values("% Overall Passing", ascending=True).head(5)
bottom_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,52.99%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,53.20%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,53.51%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29%,80.93%,66.75%,80.86%,53.53%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,53.54%

## Math Scores by Grade

In [70]:
#this doesn't follow the requirements exactly, but I believe the output is the same.

ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

mathdata = {
    '9th Grade Math Scores': ninth_graders_scores,
    '10th Grade Math Scores': tenth_graders_scores,
    '11th Grade Math Scores': eleventh_graders_scores,
    '12th Grade Math Scores': twelfth_graders_scores}

# create the DataFrame
math_scores_by_grade = pd.DataFrame(mathdata)
math_scores_by_grade.index.name = "School Name"

math_scores_by_grade["9th Grade Math Scores"] = math_scores_by_grade["9th Grade Math Scores"].map("{:,.2f}%".format)
math_scores_by_grade["10th Grade Math Scores"] = math_scores_by_grade["10th Grade Math Scores"].map("{:,.2f}%".format)
math_scores_by_grade["11th Grade Math Scores"] = math_scores_by_grade["11th Grade Math Scores"].map("{:,.2f}%".format)
math_scores_by_grade["12th Grade Math Scores"] = math_scores_by_grade["12th Grade Math Scores"].map("{:,.2f}%".format)

math_scores_by_grade

,9th Grade Math Scores,10th Grade Math Scores,11th Grade Math Scores,12th Grade Math Scores
School Name,,,,
Bailey High School,77.08%,77.00%,77.52%,76.49%
Cabrera High School,83.09%,83.15%,82.77%,83.28%
Figueroa High School,76.40%,76.54%,76.88%,77.15%
Ford High School,77.36%,77.67%,76.92%,76.18%
Griffin High School,82.04%,84.23%,83.84%,83.36%
Hernandez High School,77.44%,77.34%,77.14%,77.19%
Holden High School,83.79%,83.43%,85.00%,82.86%
Huang High School,77.03%,75.91%,76.45%,77.23%
Johnson High School,77.19%,76.69%,77.49%,76.86%
Pena High School,83.63%,83.37%,84.33%,84.12%
Rodriguez High School,76.86%,76.61%,76.40%,77.69%
Shelton High School,83.42%,82.92%,83.38%,83.78%
Thomas High School,83.59%,83.09%,83.50%,83.50%
Wilson High School,83.09%,83.72%,83.20%,83.04%
Wright High School,83.26%,84.01%,83.84%,83.64%

## Reading Score by Grade

In [71]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

ninth_graders_scores_reading = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_scores_reading = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_scores_reading = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_graders_scores_reading = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

readingdata = {
    '9th Grade Reading Scores': ninth_graders_scores_reading,
    '10th Grade Reading Scores': tenth_graders_scores_reading,
    '11th Grade Reading Scores': eleventh_graders_scores_reading,
    '12th Grade Reading Scores': twelfth_graders_scores_reading}

# create the DataFrame
reading_scores_by_grade = pd.DataFrame(readingdata)
reading_scores_by_grade.index.name = "School Name"

reading_scores_by_grade["9th Grade Reading Scores"] = reading_scores_by_grade["9th Grade Reading Scores"].map("{:,.2f}%".format)
reading_scores_by_grade["10th Grade Reading Scores"] = reading_scores_by_grade["10th Grade Reading Scores"].map("{:,.2f}%".format)
reading_scores_by_grade["11th Grade Reading Scores"] = reading_scores_by_grade["11th Grade Reading Scores"].map("{:,.2f}%".format)
reading_scores_by_grade["12th Grade Reading Scores"] = reading_scores_by_grade["12th Grade Reading Scores"].map("{:,.2f}%".format)

reading_scores_by_grade

,9th Grade Reading Scores,10th Grade Reading Scores,11th Grade Reading Scores,12th Grade Reading Scores
School Name,,,,
Bailey High School,81.30%,80.91%,80.95%,80.91%
Cabrera High School,83.68%,84.25%,83.79%,84.29%
Figueroa High School,81.20%,81.41%,80.64%,81.38%
Ford High School,80.63%,81.26%,80.40%,80.66%
Griffin High School,83.37%,83.71%,84.29%,84.01%
Hernandez High School,80.87%,80.66%,81.40%,80.86%
Holden High School,83.68%,83.32%,83.82%,84.70%
Huang High School,81.29%,81.51%,81.42%,80.31%
Johnson High School,81.26%,80.77%,80.62%,81.23%
Pena High School,83.81%,83.61%,84.34%,84.59%
Rodriguez High School,80.99%,80.63%,80.86%,80.38%
Shelton High School,84.12%,83.44%,84.37%,82.78%
Thomas High School,83.73%,84.25%,83.59%,83.83%
Wilson High School,83.94%,84.02%,83.76%,84.32%
Wright High School,83.83%,83.81%,84.16%,84.07%

## Scores by School Spending

In [72]:
# Establish the bins 
bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [73]:
# Create a copy of the school summary since it has the "Per Student Budget" 

school_spending_df = per_school_summary.copy()

school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].str.replace('$','', regex=True).astype(float)

school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=bins, labels=labels)

school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].map("${:,.2f}".format)

school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
School Name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05%,81.03%,66.68%,81.93%,54.64%,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,91.33%,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,53.20%,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10%,80.75%,68.31%,79.30%,54.29%,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,90.60%,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29%,80.93%,66.75%,80.86%,53.53%,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80%,83.81%,92.51%,96.25%,89.23%,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,53.51%,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,53.54%,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,90.54%,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,52.99%,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36%,83.73%,93.87%,95.85%,89.89%,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,90.95%,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,90.58%,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68%,83.95%,93.33%,96.61%,90.33%,<$585

In [74]:
#  Calculate averages for the desired columns. 

school_spending_df["Average Math Score"] = school_spending_df["Average Math Score"].replace('[\%,]', '', regex=True).astype(float)
school_spending_df["Average Reading Score"] = school_spending_df["Average Reading Score"].replace('[\%,]', '', regex=True).astype(float)
school_spending_df["% Passing Math"] = school_spending_df["% Passing Math"].replace('[\%,]', '', regex=True).astype(float)
school_spending_df["% Passing Reading"] = school_spending_df["% Passing Reading"].replace('[\%,]', '', regex=True).astype(float)
school_spending_df["% Overall Passing"] = school_spending_df["% Overall Passing"].replace('[\%,]', '', regex=True).astype(float)

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

overall_passing_spending

Spending Ranges (Per Student)
<$585       90.367500
$585-630    81.417500
$630-645    62.857500
$645-680    53.526667
Name: % Overall Passing, dtype: float64

In [75]:
# Assemble into DataFrame
spemdingdata = {
    'Average Math Score': spending_math_scores,
    'Average Reading Score': spending_reading_scores,
    '% Passing Math': spending_passing_math,
    '% Passing Reading': spending_passing_reading,
    '% Overall Passing': overall_passing_spending}

# create the DataFrame
spending_summary = pd.DataFrame(spemdingdata)

spending_summary["Average Math Score"] = spending_summary["Average Math Score"].map("{:,.2f}%".format)
spending_summary["Average Reading Score"] = spending_summary["Average Reading Score"].map("{:,.2f}%".format)
spending_summary["% Passing Math"] = spending_summary["% Passing Math"].map("{:,.2f}%".format)
spending_summary["% Passing Reading"] = spending_summary["% Passing Reading"].map("{:,.2f}%".format)
spending_summary["% Overall Passing"] = spending_summary["% Overall Passing"].map("{:,.2f}%".format)

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.45%,83.93%,93.46%,96.61%,90.37%
$585-630,81.90%,83.16%,87.13%,92.72%,81.42%
$630-645,78.52%,81.62%,73.48%,84.39%,62.86%
$645-680,77.00%,81.03%,66.16%,81.13%,53.53%

## Scores by School Size

In [76]:
# Establish the bins.
bins = [0, 1000, 2000, 5000]
# Categorize the spending based on the bins
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [77]:
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
school_spending_df["School Size"] = pd.cut(school_spending_df["Total Students"], bins=bins, labels=labels)

school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
School Name,,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,$585-630,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,<$585,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,$630-645,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29,$630-645,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60,$585-630,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53,$645-680,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23,<$585,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51,$645-680,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54,$645-680,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54,$585-630,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99,$630-645,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89,$585-630,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95,$630-645,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58,<$585,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33,<$585,Medium (1000-2000)

In [78]:
# Calculate averages for the desired columns. 
size_math_scores = school_spending_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = school_spending_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = school_spending_df.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = school_spending_df.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = school_spending_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [79]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`

sizedata = {
    'Average Math Score': size_math_scores,
    'Average Reading Score': size_reading_scores,
    '% Passing Math': size_passing_math,
    '% Passing Reading': size_passing_reading,
    '% Overall Passing': size_overall_passing}

# create the DataFrame
size_summary = pd.DataFrame(sizedata)

size_summary["Average Math Score"] = size_summary["Average Math Score"].map("{:,.2f}%".format)
size_summary["Average Reading Score"] = size_summary["Average Reading Score"].map("{:,.2f}%".format)
size_summary["% Passing Math"] = size_summary["% Passing Math"].map("{:,.2f}%".format)
size_summary["% Passing Reading"] = size_summary["% Passing Reading"].map("{:,.2f}%".format)
size_summary["% Overall Passing"] = size_summary["% Overall Passing"].map("{:,.2f}%".format)

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82%,83.93%,93.55%,96.10%,89.89%
Medium (1000-2000),83.37%,83.87%,93.60%,96.79%,90.62%
Large (2000-5000),77.75%,81.34%,69.96%,82.77%,58.28%

## Scores by School Type

In [80]:
# Group the school_spending_df DataFrame by "School Type" and average the results.
type_math_scores = school_spending_df.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = school_spending_df.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = school_spending_df.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = school_spending_df.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = school_spending_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [81]:
# Assemble the new data by type into a DataFrame called `type_summary`
sizedata = {
    'Average Math Score': type_math_scores,
    'Average Reading Score': type_reading_scores,
    '% Passing Math': type_passing_math,
    '% Passing Reading': type_passing_reading,
    '% Overall Passing': type_overall_passing}

type_summary = pd.DataFrame(sizedata)

type_summary["Average Math Score"] = type_summary["Average Math Score"].map("{:,.2f}%".format)
type_summary["Average Reading Score"] = type_summary["Average Reading Score"].map("{:,.2f}%".format)
type_summary["% Passing Math"] = type_summary["% Passing Math"].map("{:,.2f}%".format)
type_summary["% Passing Reading"] = type_summary["% Passing Reading"].map("{:,.2f}%".format)
type_summary["% Overall Passing"] = type_summary["% Overall Passing"].map("{:,.2f}%".format)

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47%,83.90%,93.62%,96.59%,90.43%
District,76.96%,80.97%,66.55%,80.80%,53.67%